<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.label "Uživatel" %><br />
    <%= f.text_field :commenter %>
  </div>
  <div class="field">
    <%= f.label "Komentář" %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Přidat komentář" %>
  </div>
<% end %>