<p class="notice"><%= notice %></p>
 
<p>
  <b>Stanice:</b>
  <%= @post.name %>
</p>
 
<p>
  <b>Adresa:</b>
  <%= @post.title %>
</p>
 
<p>
  <b>Text:</b>
  <%= @post.content %>
</p>
 
<p>
  <b>Kategorie:</b>
  <%= @post.category.name %>
</p>
  
 
<p>
  <b>Zvířata:</b>
  <%= join_tags(@post) %>
</p>
 
<h2>Komentáře</h2>
<%= render @post.comments %>
Celkem komentářů: <%=@post.comments.count%>
<h2>Přidejte komentář:</h2>
<%= render "comments/form" %>

 
<%= link_to 'Zpět na stanice', posts_path %> | 
<%= link_to 'Upravit stanici', edit_post_path(@post) %> |