<h1>Seznam kategorií</h1>

<table class="table table-striped">
  <tr>
    <th>Název</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to 'Zobrazit', category, { :class=>"btn btn-mini btn-primary" } %></td>
    <td><%= link_to 'Upravit', edit_category_path(category), { :class=>"btn btn-mini btn-warning" } %></td>
    <td><%= link_to 'Smazat', category, :class=>"btn btn-mini btn-danger", method: :delete, data: { confirm: 'Opravdu smazat?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Zpět na správu stanic', posts_path %>
<%= link_to 'Nová kategorie', new_category_path %>